footer{
    background-color: white;
    background-image: url("../../img/footer-wave-bg.svg");
    background-size: cover;
    min-height: 50vh;
    .footer{
        padding-top:3em;
        
        @include marginruler;
        .links{
            a{
                font-weight: 400;
            }
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 80%;
            justify-content: space-between;
            .contact-area {
                p{
                    font-weight: 600;
                }
                img{
                    width: 100px;
                    margin-bottom: 2em;
                    
                }
                margin-right: 4em;
            }
            .link-head{
                font-weight: 600;
            }
            .menu {
                margin-right: 4em;
                
                color: black;
            }
        }
        &>hr {
            margin-top: 3em;
        }
        &>p {
            padding: 0.5em;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
}