
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{width: 100%;
    height: 100vh;
    background-image: url("../../img/home-bg-1.svg")  ;
     background-repeat: no-repeat; background-size: contain; 
}
#faq {
    min-height: 100vh;
    .showcase {
      h1 {
        font-weight: 600;
      }
    }
  }

header{
    width: 100%;
    // 
}
#blog,#pricing,#feature{
    height: 80vh;
    // background: crimson;
    
  }
.navbar{
    // text-align: center;
    width: 100%;
    padding: 0.8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        flex-direction: row;
        
        li {
            margin: 0 1rem;
            list-style: none;
            a{
                color: $textcolor;
                text-decoration: none;
            }
        }
    }
    .nav-logo img {
        width: 100px;
        
    }
    button:first-child{
        margin-right: 0.7em;
    }


}
.showcase {
    @include marginruler;
    padding-top: 5rem;
    display: flex; flex-direction: row;
    img {
        width: calc(50% - 6rem);transform: translateY(-20%);
    }
    .text-show{
        width:40%;
        span{
            color: $buttoncolor;
        }

        h3 {
            padding: 1rem 0;color: $lightbluecolor; 
            font-weight: 400;
            line-height: 1.3rem;
            
        }
        h1{position: relative;
            &::before{
                    position: absolute;
                    top: -1rem;
                    left:0;
                    content: "";
                    width: 2rem;
                    height: 3px;
                    border-radius: 40px;
                    background-color: $buttoncolor;
                
            }
        }
    }
    justify-content: space-between;
    button {
        margin-top: 2em;
        box-shadow: 0 8px 27px #37ff2952;
    }
}