.subscribe-box {
    width: 100%;
    margin-top: -3.3em;
    // height: 40vh;
    background-color: $overlinecolor;
    
    &>div{
        @include marginruler;
        padding: 3rem 0;
        display: flex;
        // flex: 0 1 ;
        align-items: center;justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        h2{
            color: white;
            flex-basis: 45%;
        }
        .input {
            input{
                padding:0.8em 4.5em 0.8em 2em ;
                border-radius: 30px; 
                border: none;
                &:focus {
                    outline: none;
                }
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-right: -5px;
            }
            button{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 0.8em 1em;
                text-align: center;
            }
        }
        
        
    }

    

}