.nav-link {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
}
h3{
  font-size:0.7rem
}
h1 {
  font-size: 2rem;
  color: white;
}
.header-text {
  font-size: 1.5rem;
}
.feature {
  font-size: 0.9rem;
}
h2 {
  font-size: 1.7rem;
  font-weight: 500;
}
.sub{
  font-size: 0.8rem;
}
.news{
  &__card{
    p,a{
      margin: 1rem 1.5rem ;
    }
    &--head{
      font-size: 0.9rem;
      
    }
  }

}